name: iOS Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3

    - name: Xcode version
      run: xcodebuild -version

    - name: Install CocoaPods
      run: pod install --project-directory=mediapipe-samples/examples/llm_inference/ios

    - name: Archive
      env:
        PROJECT_PATH: mediapipe-samples/examples/llm_inference/ios/InferenceExample.xcodeproj
        SCHEME: InferenceExample
        CONFIG: Release
        ARCHIVE_PATH: ${{ runner.temp }}/build/App.xcarchive
      run: |
        set -euo pipefail

        if [ ! -e "${PROJECT_PATH}" ]; then
          echo "âŒ PROJECT_PATH='${PROJECT_PATH}' not found"
          exit 66
        fi

        xcodebuild \
          -project "${PROJECT_PATH}" \
          -scheme "${SCHEME}" \
          -configuration "${CONFIG}" \
          -sdk iphoneos \
          -destination 'generic/platform=iOS' \
          -archivePath "${ARCHIVE_PATH}" \
          clean archive | xcpretty

    - name: Create export options
      run: |
        cat > ExportOptions.plist <<EOF2
        <?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
        <plist version="1.0">
        <dict>
          <key>method</key><string>ad-hoc</string>
          <key>teamID</key><string>${{ secrets.IOS_TEAM_ID }}</string>
          <key>signingStyle</key><string>manual</string>
          <key>provisioningProfiles</key>
          <dict>
            <key>${{ secrets.IOS_BUNDLE_ID }}</key>
            <string>${{ steps.install_profile.outputs.UUID }}</string>
          </dict>
        </dict>
        </plist>
        EOF2

    - name: Export IPA
      run: |
        xcodebuild -exportArchive \
          -archivePath ${{ runner.temp }}/build/App.xcarchive \
          -exportPath ${{ runner.temp }}/build \
          -exportOptionsPlist ExportOptions.plist
